@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #ff6b00;
    --bg-light: #fff5cf;
    --bg-dark: #131313;
    --text-light: #ffffff;
    --text-dark: #333333;
}
.Event-container {
    overflow: hidden;
    display: flex;
}
.hash-001 {
    position: absolute;
    width: 202px;
    height: 48px;
    top: 606px;
    left: calc(50% - 6.5px);
    color: #ff6b00;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    text-align: right;
}
.arrow {
    position: absolute;
    width: 19.524px;
    height: 19.524px;
    top: 614px;
    left: 202px;
    background: url(https://static.codia.ai/image/2025-03-03/5188bbb9-05d7-464d-bf63-4439be6a06da.svg)
        no-repeat center;
    background-size: cover;
}
.image {
    flex-shrink: 0;
    position: relative;
    width: 810px;
    height: 680px;
    background-size: cover;
    border-radius: 22px;
}
.rectangle {
    flex-shrink: 0;
    position: relative;
    width: 449px;
    height: 675px;
    font-size: 0px;
    background: rgba(0, 0, 0, 0.71);
    border-radius: 25px;
}
.event-description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 347px;
    height: 238px;
    margin: 46px 0 0 24px;
    color: #fff5cf;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    text-transform: uppercase;
}
.event {
    position: absolute;
    width: 202px;
    height: 69px;
    top: 580px;
    left: calc(50% - 220px);
    color: #ff6b00;
    font-family: Inter, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 69px;
    text-align: center;
    white-space: nowrap;
}
.event-button {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    line-height: 140px;
    font-weight: 400;
    width: 202px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #555555;
}

.event-tab {
    background-color: #fef9c3;
    border-radius: 22px;
    margin-top: 100px; /* Add margin to push content down */
    position: relative;
    z-index: 20;
}

@media (max-width: 768px) {
    .Event-container {
        display: block;
    }

    .rectangle {
        width: auto;
        height: auto;
        margin: 20px;
    }
    .event-description,
    .event,
    .hash-001 {
        height: auto;
        width: auto;
        /* position: relative; */
    }
    .image {
        margin: 20px;
        width: 410px;
        height: 380px;
    }
}
